<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SSRF Lab</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="container">
		<h1>SSRF Lab</h1>
		<p><b>Objective:</b> To solve the level read the flag file inside the webserver. You can find it at this path: /flags</p>
		<ul class="menu">
			<li><a href="/ssrf/level_1">Level 1</a></li>
			<li><a href="/ssrf/level_2">Level 2</a></li>
			<li><a href="/ssrf/level_3">Level 3</a></li>
			<li><a href="/ssrf/level_4">Level 4</a></li>
			<li><a href="/ssrf/level_5">Level 5</a></li>
			<li><a href="/ssrf/level_6">Level 6</a></li>			
			<li><a href="/ssrf/level_7">Level 7</a></li>			
			<li><a href="/ssrf/level_8">Level 8</a></li>			
		</ul>
		<p class="footer">SSRF Laboratory - Select a link to start</p>
	</div>
</body>
</html>